// .single-gfb_our_beers {

// 	#content {

// 	.hero-image {left:0px;top:40px;height:200px;width:auto;}

// 	.main-beer-image,
// 	.mobile-image-lockup {top:250px;height:500px;width:auto;}

// 	.main-beer-image {left:0px;top:375px;}
// 	.mobile-image-lockup {right:0px;height:300px;}
// 	.beer-header {left:10px;top:900px;width:100%;}
// 	.beer-main-content{
// 		margin-top:950px;
// 	}



	
// }

// }