$gfb-green:			#b2cf42;
$gfb-green-dark:	#488309;

.wrap {
	//background:#000000;
}

.page-banner-image {
	position:relative;
	a {
		position:absolute;
		top:0px;
		//left:19%;
		width:5.5%;
		height:100%;
		//border:1px solid red;
		&#mosaic {left:19.3%;}
		&#citra {left:25%;}
		&#segal {left:30.7%;}
	}
}

.instagram-wrapper {
	margin-top:24px;
}

.instagram-content {
	margin-bottom:24px;

	.main-image {
		width:100%;
		height:auto;
		display:block;
	}
				
	.profile-info {
		background:#fff;
		height:50px;
		white-space: nowrap;
		position:absolute;
		width:100%;
		left:0px;
		bottom:0px;
		display:none;
		overflow:hidden;
		.profile-image {
			margin:10px 10px 0 10px;
			display:inline;
			width:30px;
			height:30px;
		}
		.profile-username {
			text-rendering: optimizelegibility;
			font-size:13px;
			font-size:1.1rem;
			position:relative;
			top:-10px;
		}
	}
}

.hashimage-list {
	li {
		width: 14.364640883%;
		margin-left: 2.762430939%;
		margin-bottom:24px;
		&:hover {
			opacity:0.7;
		}
		&:nth-child(6n + 1) {
			margin-left:0;
		}
		&:nth-child(6n) {
			 float:right;
		}
	}
}

#instagram-image {
		margin-top:-15px;
		position:relative;
		z-index:1000;
	}

body {

	#ff-stream-1,
	.ff-stream {
			padding:0 !important;
			margin:0 !important;
			background-color:transparent;
			

			.picture-item__inner {
				//border:1px solid red;
				padding:0;
				&:hover {
					background:rgba(140,140,140,1.0);
					opacity:1.0;
				}
			}

			.ff-item-cont {
				padding:12px;
				font-size:12px;
				.ff-content {
					font-size:12px;
					//border:1px solid red;
					margin:0 0 -20px 0 !important;
					&:hover {
						background:transparent;
					}
				}
			}
			h4 a, 
			.ff-name {
				color:$gfb-green !important;
				font-size:12px;
				line-height:15px;
				margin:0px 0 18px 0;
				font-weight:bold;
				text-transform:none;
			} 
			div.ff-item-cont .ff-nickname, 
			div.ff-item-cont .ff-timestamp {
				padding:0 12px !important;
				margin:0 !important;
				line-height:15px !important;
				display:block;
				&:after {
					content:'';
					padding:0;
					margin:0;
				}
			}
	}
}


@media only screen and (min-width: 768px) {

	.instagram-hashtag {
	position:absolute;
	top:0px;
	right:0px;
	text-indent:0;	
}
	#txt-share {
		width:100%;
		height:52px;
		background:url(../../images/hop/txt-share-your-favorite.png) no-repeat 0px 0px;
		position:relative;

	}

	#instagram-image {
			margin-top:-80px;
	}
}

@media only screen and (max-width: 768px) {
	.instagram-content.twocol,
	.hashimage-list li {
		width:31%;
		margin-right:3.4%;
		margin-left:0;
		float:left;
		border:1px solid #cccccc;
		&:nth-child(3n+3) {
			float:right;
			margin-right:0;
		}
	}

	.page-title {display:none;}

	h2.h1 {
		text-transform:none;
		font-weight:normal;
		font-size:16px;
	}

	.instagram-hashtag.h1 {
		font-size:20px;
	}
}