
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=30ee78521080c8411517b5f9263f95ac
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress